@media (max-width: 767.98px) {
    .remove-left-padding-sm {
      padding-left: 0;
    }
  }

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#whatsapp-button a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25D366; /* Cor verde do WhatsApp */
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#whatsapp-button a:hover {
  background-color: #128C7E; /* Cor de destaque no hover */
}